{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Hello Web</h1>
  <p class="w3-xlarge">Welcom</p>
  <p class="w3-xlarge">I made this page for practice using Dgango and webscrapping</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <ul class="w3-ul">
        <li class="w3-hover-red"><h1>Page discription</h1></li>
        <li class="w3-hover-red"><h5 >1.Worknet list</h5>
        <p> We show list of Recruiting in Worknet using selenium</p></li>
        <li class="w3-hover-red"><h5 >2.Jobkorea list</h5>
        <p >We show list of Recruiting in Jobkorea using requests and BeautifulSoup</p></li>
      </ul>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1></h1>
      <h5 class="w3-padding-32"></h5>

      <p class="w3-text-grey"></p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge"></h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Thank you for visiting</p>
 <p>By Junhee Cho</p>
</footer>

{% endblock %}