<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Worknet scrapping</h1> 
    <form action="/board/scrapjobkorea", method="get">
        <b>max page</b>
        <input type="text", name="max_page", value="10">
        <b>keyword</b>
        <input type="text", name="keyword", value="AI">
        <input type="submit", value="scrapping">
    </form>
    <table class="table table-striped">
        <tr>
            <th>title</th>
            <th>company</th>
        </tr>
        {% for row in page_obj.0 %}
        <tr>
            <td><a href="{{row.link}}">{{row.title}}</a></td>
            <td>{{row.company}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>